*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica;
    background-image: url("../img/img-15.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.perfil {
    width: 90%;
    max-height: 40vh;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.face {
    width: 40%;
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.face img {
    width: 100%;
}

.datos {
    width: 60%;
    margin: center;
}

.datos input {
    width: 80%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit{
    width: 100%;
    padding: 10px 5px;
    background-color: white;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size:medium;
    text-align: center;
    /* Para dar la apariencia de un boton */
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;  
}

.edit a {
    color: black;
}

.destroy {
    width: 100%;
}

.destroy button{
    width: 100%;
    padding: 10px 5px;
    background-color: white;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size:medium;
    color: black;
    text-align: center;
    /* Para dar la apariencia de un boton */
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;  
}



