body{
  font-family: Helvetica;
  background-image: url("../img/img-15.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  display: none;
}

 input[type=text],
 input[type=time],
 input[type=date],
 select,
 textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

/*   
 input[type=submit],
 .btn-cancel {
  outline: none;
	border: 1px solid #363431;
	color: white;
	height: 30px;
	text-shadow: 0px -1px 1px black;
	font-size: 20px;
	border-radius: 5px;
	font-family: Helvetica;
	cursor: pointer;
	background-image: linear-gradient(#3aad02,#2c6f05);
  } */

   /* input[type=submit]:hover {
    background-color: #45a049;
  }
   */ 
   
  /* Estilos boton CANCELAR*/
  .btn-cancel{
    width: 50%;
    padding: 10px 5px;
    background-color: #6B7280;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size:medium;
    color: #fffdfd;
    text-align: center;
    margin-top: 20px;
    /* Para dar la apariencia de un boton */
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;  
  }
  .btn-cancel:hover,.btn-cancel:active{
    color:#fff;
    background-color: #f15f51;
    border-color:#f15f51
  ;
  }
  .btn-cancel:focus{
    box-shadow:0 0 0 3px #6B7280;
  }
  
  /* Estilos boton GUARDAR*/
  .btn-save{
    width: 50%;
    padding: 10px 5px;
    background-color: #6B7295;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size:medium;
    color:#fffdfd;
    margin-top: 20px;
    /* Para dar la apariencia de un boton */
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;  
  }
  .btn-save:hover,.btn-save:active{
    color:#fff;
    background-color: #45a049;
    border-color:#45a049;
  }
  .btn-save:focus{
    box-shadow:0 0 0 3px #1E3A8A;
  }

 .hijo {
    border-radius: 10px;
    width: 65%;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
    margin-top: 10%;
    font-family: Helvetica;
  }

  body{
      background-color: #ccc;
  }

  .hijo h2{
      margin:5%;
      height: 20px;
      text-align: center;
      font-size: 45px;
      color:#fffdfd; 
      background-color: #82A284;height: max-content; border-radius: 10px; opacity: 0.8;
      font-family: Helvetica;
  
  }

  nav{
      background-color:#ccc;
      height: 100px;
  }

  nav img{
    float: right;
    width: 80px;
    height: 50px;
    border: 3px solid #73AD21;
    padding: 10px;
    border-radius: 5px;
  }
   nav h2{
    float: right;
   }
   
   nav a{
    float: right;
   
   }

.columna{

     opacity: 0.9;
     color:#06283D;
     padding:70px;
     width: 33%;
     margin:15px;
     border-radius: 10px;
   }
  
   .columna2{

    color:#06283D;
    padding:70px;
    width: 33%;
    margin:15px;
    border-radius: 10px;
  }

   .grande{
     display: flex;
   }

   b{
    text-align: center;
    padding: 20px;
    color: #ccc;
   }

   .btn-servicio{
    padding:5px;
    margin: 25px 50px 75px 100px;
    background-color: #45a049; 

   }


   .btn-servicio a{
    margin-bottom:0%;
  
   }

   .spinner{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin:auto;
    background: conic-gradient(
      #0000 10%,
      #8f44fd
    );
    -webkit-mask-: 
    radial-gradient(
      farhest-side,
      #0000 calc(100% - px),
      #000
      0
    );
    animation: spin 0.8s infinite linear;
   }

   @keyframes spin {
    to {
      transform: rotate(1turn);
    }
   }





