*/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

body {
  background: #181f38;
  font-family: 'Poppins', monospace;
  color: rgb(102, 170, 144);
  font-size: .7em;
  font-weight: 200;
  letter-spacing: 1px;
}

html {
  /* padding: 00px; */
  font-weight: 300;
}

main {
    padding: 0px;
}

section {
    margin-bottom: 40px;
}

h1 {
    font-size: 3em;
    font-weight: 100;
}

h2 {
    font-size: 1.4em;
    margin-bottom: 15px;
    font-weight: 200;
}


hr {
    border-color: white;
    margin: 10px 0;
}

figure, canvas {
    background-color: rgba(255,255,255,.03);
    padding: 10px 10px 30px;
}

figure, article {
    background-color: rgba(255,255,255,.03);
    padding: 10px 10px 20px;
}

figure, article .Kpis{
    font-size: 15px;
    font-weight: 100;
    width: 100%;
    text-align: center;
  

}

canvas {
    width: 100%;
}


/* grid */

[class*='cols'] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cols-1 > * {
    width: 100%;
    margin: 10px;
}

.cols-3 > * {
    margin: 10px;
}

.cols-4 > * h1 {
    margin: 30px;
    color:rgb(240, 203, 111); 
    width: 100%;
}

.cols-2 > * {
    width: 50%;
    margin: 10px
}


@media  (max-width: 800px) {

    main {
        padding: 0;
    }

    h1 {
        font-size: 2.1em;
        font-weight: 100;
    }

    [class*='cols'] {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cols-2 > * {
        width: 100%;
    }

    .running section {
        opacity: 1
    }
    
    .loading {
        position: absolute;
        border: none;
    }
    
    .running .loading {
        display: none;
    }
}