body{
    font-family: Helvetica;
    background-image: url("../img/img-15.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  /*
   input[type=text],
   input[type=time],
   input[type=date],
   select {
      width: 100%;
      padding: 12px 20px;
      margin: 12px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }*/
  /*   
   input[type=submit],
   .btn-cancel {
    outline: none;
      border: 1px solid #363431;
      color: white;
      height: 30px;
      text-shadow: 0px -1px 1px black;
      font-size: 20px;
      border-radius: 5px;
      font-family: Helvetica;
      cursor: pointer;
      background-image: linear-gradient(#3aad02,#2c6f05);
    } */
  
     /* input[type=submit]:hover {
      background-color: #45a049;
    }
     */ 
     
    /* Estilos boton CANCELAR*/
    /*.btn-cancel{
      width: 50%;
      padding: 10px 5px;
      background-color: #0959fa;
      border: 0;
      box-sizing: border-box;
      cursor: pointer;
      font-weight: bold;
      font-size:medium;
      color: #fffdfd;
      text-align: center;
      margin-top: 20px;
      /* Para dar la apariencia de un boton */
      /*-webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;
      text-decoration: none;  
    }*/
    /*.btn-cancel:hover,.btn-cancel:active{
      color:#fff;
      background-color: #f15f51;
      border-color:#f15f51
    ;
    }
    .btn-cancel:focus{
      box-shadow:0 0 0 3px #6B7280;
    }*/
    
    /* Estilos boton GUARDAR*/
    /*.btn-save{
      width: 50%;
      padding: 10px 5px;
      background-color: #6B7295;
      border: 0;
      box-sizing: border-box;
      cursor: pointer;
      font-weight: bold;
      font-size:medium;
      color:#fffdfd;
      margin-top: 20px;
      /* Para dar la apariencia de un boton */
      /*-webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;
      text-decoration: none;  
    }*/

    /*.btn-save:hover,.btn-save:active{
      color:rgb(0, 0, 0);
      background-color: #45a049;
      border-color:#45a049;
    }*/
    /*.btn-save:focus{
      box-shadow:0 0 0 3px #1E3A8A;
    }*/
  
   /*.hijo {
      border-radius: 10px;
      width: 65%;
      background-color: #f2f2f2;
      padding: 20px;
      margin: 0 auto;
      margin-top: 10%;
      font-family: Helvetica;
    }*/
  
    body{
        background-color: #ccc;
    }
  
    /*.hijo h2{
        margin:50%;
        height: 100px;
        text-align: center;
        font-size: 45px;
        color:#fffdfd; 
        background-color: #82A284;height: max-content; border-radius: 10px; opacity: 0.8;
        font-family: Helvetica;
    
    }*/
  
    nav{
        background-color:#ccc;
        height: 100px;
    }

    .container{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
    }
  
    nav img{
      float: right;
      width: 80px;
      height: 50px;
      border: 3px solid #73AD21;
      padding: 10px;
      border-radius: 5px;
    }
     nav h2{
      float: right;
     }
     
     nav a{
      float: right;
     
     }
  
  .columna{
     
       opacity: 0.9;
       color:hsl(203, 92%, 19%);
       padding:25px;
       width: 80px;
       margin: auto;
       font-size: 120px;
       display: flex;
       flex-direction: column;
       display: block;
       justify-content: center;
     
 
     }
  
button{
      width: 150px;
      height: 30px;
      border: 3px solid #73AD21;
      padding: 5px;
      border-radius: 10px;
      font-size: 12px;
      margin-top: 0%;
      flex-wrap: wrap;
      font-weight: bolder
     
}

.btn-servicio button{
  display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 45px;
	background: #141414;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
  border-radius: 8px;
  
}

.btn-historial button{
      float:left;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 40px;
      border: 3px solid #06283D;
      padding: 5px;
      border-radius: 10px;
      font-weight: bolder;
      font-size: 15px;
      margin-top: 1%;
      flex-wrap: wrap;
      cursor: pointer;
      transition: .3s ease all;
      background-image: linear-gradient(#d7dad6,#9b9999);
}

 span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.btn-servicio button:hover{
  background-image: linear-gradient(#f7a151,#917045);
  
}



     .grande{
       display: flex;
       flex-wrap: wrap;
     }
  
     /*b{
      text-align: center;
      padding: 20px;
      color: #ccc;
     }*/

     h1 {
        margin: auto;
        text-align: center;
        margin: 5px;
        text-decoration: underline;

     }
  
     /* .btn-servicio{
      padding:120px;
      margin: 25px 50px 75px 100px; 
     }
  
  
     .btn-servicio a{
      margin-bottom:0%;
    
     } */