<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <title>Calendario</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="menu.css" content="width=device-width, initial-scale=1.0">
    <link href="resources/css/menuLateral.css" rel="stylesheet">
    <link href="resources/css/main.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ab05c0d697.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.css" />
    
</head>

<!--Formuario Lateral-->
<body id="body">
    
    <%- include("./includes/menu")%>




<br>


<!--Calendario -->

<div id="calendar"></div>


<script src="./resources/js/menulateral.js"></script>
<script src="./resources/js/main.min.js"></script>
<script src="./resources/js/script.js"></script>
</html>