<!DOCTYPE html>
<html lang="en">
                   
<head>
	<%- include("./includes/head") %> 
    <title>Elegir un Servicio</title> 
    <link href="../resources/css/menuLateral.css" rel="stylesheet">
    <link href="../resources/css/servicios.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>


<!--Menu Vertical-->
<body id="body"> 
    <%- include("./includes/menu")%>
    <br>
    <!--Inicio de parte General-->
    <h1><u>Seleccione un Servicio</u></h1>

    <br>
   
            <div>
                <a class="btn-historial" href="/tareas/panelTareas"><button>HISTORIAL</button></a>
            </div>
    <br>
    <br>
    <br> 
    <br>
    <br>
    <br> 

 

    <div class="container">
        <section class="grande">
                <p class=columna><i class="fa-solid fa-person-chalkboard"></i>
                <a class="btn-servicio" href="/tareas/formularioTarea/1"><button><span>LABORAL</span></button></a>
                </p> 
            <p class=columna>
                <i class="fa-solid fa-calculator"></i>
                <a class="btn-servicio" href="/tareas/formularioTarea/2"><button><span>IMPUESTOS</span></button></a>
            </p>
            <p class=columna>
                <i class="fa-solid fa-chart-pie"></i>
                <a class="btn-servicio" href="/tareas/formularioTarea/3"><button><span>ADMINISTRACIÓN</span></button></a>
            </p>
            <p class=columna>
             <i class="fa-solid fa-chart-line"></i>
             <a class="btn-servicio" href="/tareas/formularioTarea/4"><button><span>CONTABILIDAD</span></button></a>
            </p>
            
        </section>   
    </div>
    </body>

        <script src="./resources/js/menulateral.js"></script>

</html>