<!DOCTYPE html>
<html lang="en">
                   
<head>
	<meta charset="UTF-8">
	<title>TCE</title>
    <link href="resources/css/menuLateral.css" rel="stylesheet">
    <link href="resources/css/formul.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <script src="../../resources/js/spinner.js"></script>
</head>



<!--Menu Vertical-->
<body id="body">
    <section class="spinner"></section> 
    <section class="content">
        <%- include("./includes/menu")%>
        <canvas id="myChart" style="position: relative; height: 40vh; width: 80vw"></canvas>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script>
            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
               type: 'bar',
               data:{
                datasets: [{
                    level: 'title',
                    backgroundColor: ['#6bf1ab', '#63d69f', '#438c6c', '#509c7f', '#1f794e', '#34444c', '#90CAF9', '#64B5F6', '#64B5F6', '#42A5F5', '#2196F3', '#0D47A1'],
                    boderColor: ['black'],
                    borderWidth:1
                }]
               },
               options:{
                scales:{
                    y:{
                        beginAtZero:true
                    }
                }
               } 
            })
        
            let url = 'https://jsonplaceholder.typicode.com/albums'
            fetch(url)
                .then( response => response.json() )
                .then( datos => mostrar(datos) )
                .catch( error => console.log(error) )
        
            const mostrar = (data) => {
                data.forEach(element => {
                    myChart.data['labels'].push(element.title)
                    myChart.data['datasets'][0].data.push(element.userId)
            });
            console.log(myChart.data)
            }
        
        
        </script>
        
        <div class="">
            <h1>Generalidades</h1>
            <section class="grande">
                <p class=columna> 
                  
                  
                    Tiempos Generales por Servicios</p>
                <p class=columna>Tiempos Generales por Equipos</p>
                <p class=columna>Tiempos generales tareas</p>
            </section>   
        </div>
        <br>
        
        <div class="">
            <h1>Estadisticas Individuales</h1>
            <section class="grande">
                <p class=columna>Cantidad de tareas realizadas</p>
                <p class=columna>Tiempo aplicado por servicios</p>
                <p class=columna>Tiempo del ultimo mes</p>
            </section>
        </div>
        <br>
        <br>
    </section>

    

    
    </body>

        <script src="./resources/js/menulateral.js"></script>

</html>