<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>TCE</title>
    <link href="resources/css/menuLateral.css" rel="stylesheet">
    <link href="resources/css/formul.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>


<!--Menu Vertical-->
<body id="body"> 
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
    </header>
  
    <div class="menu__side" id="menu_side">
  
        <div class="name__page">
            <i class="fa-solid fa-users-rectangle"></i>
            <h4>Intranet TCE</h4>
        </div>
  
        <div class="options__menu">	
  
            <a href="/" class="selected">
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>
  
            <a href="/tareas">
                <div class="option">
                    <i class="far fa-file" title="Tarea"></i>
                    <h4>Tareas</h4>
                </div>
              </a>
  
            <a href="/users">
                <div class="option">
                    <i class="far fa-id-badge" title="Usuarios"></i>
                    <h4>Usuarios</h4>
                </div>
            </a>

            <a href="/clientes">
                <div class="option">
                    <i class="fa-solid fa-person-chalkboard" title="Clientes"></i>
                    <h4>Clientes</h4>
                </div>
            </a>

            <a href="/calendario">
                <div class="option">
                    <i class="fa-solid fa-calendar-days" title="Calendario"></i>
                    <h4>Calendario</h4>
                </div>
            </a>

            <a href="/datosPersonales">
                <div class="option">
                    <i class="fa-regular fa-face-smile" title="Calendario"></i>
                    <h4>Datos Personales</h4>
                </div>
            </a>

        </div>
  
            </div>
            <div class="main_content">
                <div class="contenedor">
                    <% if (locals.login == true) { %>                
                        <h3>Usuario conectado: <strong><%= locals.user.userName %></strong></h3>                        
                        <a href="logout" class="a-logout"><button>Cierre de sesion</button>  </a>
                    <% } %>
                </div>    
            </div>
    <br>
    <br>
    <br>
    <br>  
    <!--Inicio de parte General-->
    <div class="">
        <h1>Conceptos generales</h1>
    </div>
    <br>
    <br>
    <div class="">
        <h1>Vistas Generales</h1>
    </div>
    <br>
    <br>
    <div class="">
        <h1>Calendario</h1>
    </div>
      
        </body>

        <script src="./resources/js/menulateral.js"></script>

</html>