<!DOCTYPE html>
<html lang="en">
                   
<head>
	<meta charset="UTF-8">
	<title>TCE</title>
    <link href="resources/css/menuLateral.css" rel="stylesheet">
    <link href="resources/css/formul.css" rel="stylesheet">
    <link href="resources/css/graficos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <script src="../../resources/js/spinner.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300" rel="stylesheet" />
</head>

<!--Menu Vertical-->
<body id="body">
    <section class="spinner"></section>
    <section class="content"></section>
    <%- include("./includes/menu")%>

    <main >

        <h1>Actividades TCE</h1>
        <h3>Visualización de estadísticas globales</h3>

        <hr>

        <section class="cols-3">
            <figure>
                <h2>Cantidad Servicios</h2>
                <br>
                <br>
                <br>
                <br>
                <div>
                    <H2>321321</H2>
                </div>
                
              
            </figure>

            <figure>
                <h2>Cantidad de Tareas</h2>
                <canvas id="modelsChart"></canvas>
            </figure>
            
            <figure>
                <h2>Cantidad Clientes</h2>
                <canvas id="modelsChart"></canvas>
            </figure>

        </section> 

        <section class="cols-2">

            <figure>
                <h2>Comparativo de Servicios</h2>
                <canvas id="TypesCharts"></canvas>
            </figure>

            <figure>
                <h2>Comparativo de Tareas/Tiempos:
                    <select id="featuresOptions">
                        <option value="totalTime">client (hs)</option>
                        <option value="length">Clientes (hs)</option>
                        <option value="speed">Equipos (hs)</option>
                        <option value="speed">Registros (hs)</option>
                    </select>
                </h2>
                <canvas id="featuresChart"></canvas>
            </figure>

        </section>

        <section class="cols-1">
            <figure>
                <h2>Actividades por mes</h2>
                <canvas id="yearsChart" height="300px"></canvas>
            </figure>
        </section>

    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>


    <script src="./resources/js/helpers.js"></script>
    <script src="./resources/js/handlers.js"></script>
    <script src="./resources/js/app2.js"></script>
    <script src="./resources/js/spinner.js"></script>
</body>




    

        <script src="./resources/js/menulateral.js"></script>

</html>