<!DOCTYPE html>
<html lang="en">
                   
<head>
	<meta charset="UTF-8">
	<title>TCE</title>
    <link href="resources/css/menuLateral.css" rel="stylesheet">
    <link href="resources/css/formul.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>


<!--Menu Vertical-->
<body id="body"> 
    <%- include("./includes/menu")%>
           <!--  <div class="main_content">
                <div class="contenedor">
                   
                </div>    
            </div> -->
    <br>
  
    <!--Inicio de parte General-->
    <div class="">
        <h1>Generalidades</h1>
        <section class="grande">
            <p class=columna> Tiempos Generales por Servicios</p>
            <p class=columna>Tiempos Generales por Equipos</p>
            <p class=columna>Tiempos generales tareas</p>
        </section>   
    </div>
    <br>
  
    <div class="">
        <h1>Estadisticas Individuales</h1>
        <section class="grande">
            <p class=columna>Cantidad de tareas realizadas</p>
            <p class=columna>Tiempo aplicado por servicios</p>
            <p class=columna>Tiempo del ultimo mes</p>
        </section>
    </div>
    <br>
    <br>
    
    </body>

        <script src="./resources/js/menulateral.js"></script>

</html>