<!DOCTYPE html>
<html lang="en">
                   
<head>
	<meta charset="UTF-8">
	<title>TCE</title>
    <link href="resources/css/menuLateral.css" rel="stylesheet">
    <link href="resources/css/formul.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>


<!--Menu Vertical-->
<body id="body"> 
    <%- include("./includes/menu")%>
           <!--  <div class="main_content">
                <div class="contenedor">
                   
                </div>    
            </div> -->
    <br>
    <!--Inicio de parte General-->
    <div class="container">
        <section class="grande">
            <p class=columna><i class="fa-solid fa-person-chalkboard"; style="color:#000000; opacity: 0.9; 
                font-size: 130px;text-align:center;position:relative; margin: 0px 10px 10px 100px;"></i>
                  <br> 
                <a class="btn-servicio" href="/formServicios"><input type="submit" name="service" value="LABORAL"></a>
        </p> 
            <p class=columna>
                <i class="fa-solid fa-calculator"; style="color:rgb(0, 0, 0); opacity: 0.9; 
                font-size: 130px;text-align:center;position:relative; margin: 0px 10px 10px 100px;"></i>
                  <br> 
                <a class="btn-servicio" href="/formServicios"><input type="submit" name="service" value="IMPUESTOS"></a>
            </p>
     
            <p class=columna>
                <i class="fa-solid fa-chart-pie"; style="color:rgb(0, 0, 0); opacity: 0.9; 
               font-size: 130px;text-align:center;position:relative; margin: 0px 10px 10px 100px;"></i>
                <a class="btn-servicio" href="/formServicios"><input type="submit" name="service" value="ADMINISTRACION"></a>
           </p>
            
        </section>   
    </div>
    <div class="container">
        <section class="grande">
      
                <p class=columna2>
                     <i class="fa-solid fa-chart-line"; style="color:rgb(0, 0, 0); opacity: 0.9; 
                    font-size: 130px;text-align:center;position:relative; margin: 0px 10px 10px 100px;"></i>
                      <br> 
                    <a class="btn-servicio" href="/formServicios"><input type="submit" name="service" value="CONTABILIDAD"></a>
                    </p>
                
        </section>
    </div>
    </body>

        <script src="./resources/js/menulateral.js"></script>

</html>