<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <title>TCE</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="menu.css" content="width=device-width, initial-scale=1.0">
    <link href="resources/css/menuLateral.css" rel="stylesheet">
    <link href="resources/css/formul.css" rel="stylesheet">
    <link href="resources/css/cronometro.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ab05c0d697.js" crossorigin="anonymous"></script>
</head>

<!--Formuario Vertical-->
<body id="body">
    
  <header>
      <div class="icon__menu">
          <i class="fas fa-bars" id="btn_open"></i>
      </div>
  </header>

  <div class="menu__side" id="menu_side">

      <div class="name__page">
        <i class="fa-solid fa-users-rectangle"></i>
          <h4>Intranet TCE</h4>
      </div>

      <div class="options__menu">	

          <a href="/" class="selected">
              <div class="option">
                  <i class="fas fa-home" title="Inicio"></i>
                  <h4>Inicio</h4>
              </div>
          </a>

          <a href="/tareas">
              <div class="option">
                  <i class="far fa-file" title="Tarea"></i>
                  <h4>Tarea</h4>
              </div>
            </a>

          <a href="/users">
              <div class="option">
                  <i class="far fa-id-badge" title="Usuarios"></i>
                  <h4>Usuarios</h4>
              </div>
          </a>

          <a href="/clientes">
            <div class="option">
                <i class="fa-solid fa-person-chalkboard" title="Clientes"></i>
                <h4>Clientes</h4>
            </div>
        </a>


      </div>

  </div>




<br>


<!--Formulario -->
<div class="contenedor">
    <div class="hijo">
    <form >
        <h2>Mis   Tareas</h2>
        <label for="Clientes">Cliente</label>
        <select id="Clientes" name="Clientes">
        <option value="Clarc">Clarc</option>
        <option value="Demonte">Demonte</option>
        <option value="ACOSTA EUSEBIO HERNAN">ACOSTA EUSEBIO HERNAN </option>
        <option value="AL SRL">AL SRL</option>
        <option value="ALBERGUCCI ENRIQUE TOMAS">ALBERGUCCI ENRIQUE TOMAS</option>
        <option value="ALEMANY LILIAN GRACIELA">ALEMANY LILIAN GRACIELA</option>
        <option value="ANA GALVEZ DE SWICSZS">ANA GALVEZ DE SWICSZS</option>
        <option value="AVANZAR SA">AVANZAR SA</option>
        <option value="AYALA AUTOMOTORES SA">AYALA AUTOMOTORES SA</option>
        <option value="AYALA GERARDO">AYALA GERARDO</option>
        <option value="AYALA RAMON">AYALA RAMON</option>
        <option value="AYALA SILVINA">AYALA SILVINA</option>
        <option value="AZ SA">AZ SA</option>
        <option value="AZ SA MECAR SA - UT">AZ SA MECAR SA - UT</option>
        <option value="B & C SRL">B & C SRL</option>
        <option value="BEDINI LILIANA">BEDINI LILIANA</option>
        <option value="BRAS TEC SA">BRAS TEC SA</option>
        <option value="BUSELLATO DELIA">BUSELLATO DELIA</option>
        <option value="CABAC SRL">CABAC SRL</option>
        <option value="CASINOS DEL CHACO SA">CASINOS DEL CHACO SA</option>
        <option value="CASINOS DEL LITORAL">CASINOS DEL LITORAL</option>
        <option value="CASINOS GALA SA">CASINOS GALA SA</option>
        <option value="CASTRO LUIS">CASTRO LUIS</option>
        
      </select>
  
      <label for="Grupo">Grupo</label>
      <select id="Grupo" name="Grupo">
        <option value="Info1">Info1</option>
        <option value="Info2">Info2</option>
        <option value="Info3">Info3</option>
        <option value="Laboral">Laboral</option>
      </select>
  
      <label for="Area">Area</label>
      <select id="Area" name="Area">
        <option value="Laboral">Laboral</option>
        <option value="Impositivo">Impositivo</option>
        <option value="Contabilidad y Auditoria">Contabilidad y Auditoria</option>
      </select>

      <label for="Area">Tarea</label>
      <select id="Area" name="Area">
        <option value="Sueldos">Sueldos</option>
        <option value="Iva - Impuestos">Iva - Impuestos</option>
        <option value="Ganancias - Impuestos">Ganancias - Impuestos</option>
      </select>
      
      <label for="fname">Observaciones</label>
      <input type="text" id="fname" name="fname">

         <!-- Cronometro-->

    </form>
    <div id="contenedor">
      <div class="reloj" id="Horas">00</div>
      <div class="reloj" id="Minutos">:00</div>
      <div class="reloj" id="Segundos">:00</div>
      <div class="reloj" id="Centesimas">:00</div>
      <button class='btn btn-success btn-lg' type="button" name="start"></button>
        <input type="button" class="boton" id="inicio" value="Inicio &#9658;" onclick="inicio();" >
        <input type="button" class="boton" id="parar" value="Pausa &#8718;" onclick="parar();" disabled>
        <input type="button" class="boton" id="continuar" value="Reinicio &#8634;" onclick="inicio();" disabled>
        <input type="button" class="boton" id="reinicio" value="Terminar" onclick="reinicio();" disabled>   
    </div>
  </div>
</div>  


</body>

<script src="./resources/js/cronometro.js" ></script>
<script src="./resources/js/menulateral.js"></script>
</html>