<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <title>TCE</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="menu.css" content="width=device-width, initial-scale=1.0">
    <link href="resources/css/menuLateral.css" rel="stylesheet">
    <link href="resources/css/formul.css" rel="stylesheet">
    <link href="resources/css/cronometro.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ab05c0d697.js" crossorigin="anonymous"></script>
</head>

<!--Formuario Vertical-->
<body id="body">
    
    <%- include("./includes/menu")%>
<br>

<!--Formulario -->
<div class="contenedor">
    <div class="hijo">
    <form >
        <h2>Actividades</h2>
        <br>
        
        <label for="Clientes">Cliente</label>

        <select id="Clientes" name="Clientes">
         <option value="Clarc">Clarc</option>
         <option value="Demonte">Demonte</option>
        </select>
  
      <label for="Grupo">Grupo</label>
      <select id="Grupo" name="Grupo">
        <option value="Info1">Info1</option>
        <option value="Info2">Info2</option>
        <option value="Info3">Info3</option>
        <option value="Laboral">Laboral</option>
      </select>
  
      <label for="Area">Area</label>
      <select id="Area" name="Area">
        <option value="Laboral">Laboral</option>
        <option value="Impositivo">Impositivo</option>
        <option value="Contabilidad y Auditoria">Contabilidad y Auditoria</option>
      </select>

      <label for="Area">Tarea</label>
      <select id="Area" name="Area">
        <option value="Sueldos">Sueldos</option>
        <option value="Iva - Impuestos">Iva - Impuestos</option>
        <option value="Ganancias - Impuestos">Ganancias - Impuestos</option>
      </select>
      
      <label for="fname">Observaciones</label>
      <input type="text" id="fname" name="fname">

         <!-- Cronometro-->

    </form>
    <div id="contenedor">
        <div class="reloj" id="Horas">00</div>
        <div class="reloj" id="Minutos">:00</div>
        <div class="reloj" id="Segundos">:00</div>
        <div class="reloj" id="Centesimas">:00</div>
    <button class='btn btn-success btn-lg' type="button" name="start"></button>
        <input type="button" class="boton" id="inicio" value="Inicio &#9658;" onclick="inicio();" >
        <input type="button" class="boton" id="parar" value="Pausa &#8718;" onclick="parar();" disabled>
        <input type="button" class="boton" id="continuar" value="Reinicio &#8634;" onclick="inicio();" disabled>
        <input type="button" class="boton" id="reinicio" value="Terminar" onclick="reinicio();" disabled>   
        
        </div>
     </div>
</div>  

</body>

<script src="./resources/js/cronometro.js" ></script>
<script src="./resources/js/menulateral.js"></script>
</html>